@import url("https://fonts.googleapis.com/css?family=Caveat|Comfortaa|Forum|Kelly+Slab|Pangolin|Ruslan+Display&display=swap");
body {
  margin: 5%;
  font-size: 1.5em;
}

.rectangle {
  padding: 0.5em;
  color: white;
  background-color: red;
  font-weight: bold;
}

.rectangle:hover {
  background-color: black;
}

h2 {
  font-family: "Caveat", cursive;
}
.f-forum {
  font-family: "Forum", cursive;
}
.f-pangolin {
  font-family: "Pangolin", cursive;
}
.f-caveat {
  font-family: "Caveat", cursive;
}
.f-comfortaa {
  font-family: "Comfortaa", cursive;
}
.f-kelly-slab {
  font-family: "Kelly Slab", cursive;
}
.f-display {
  font-family: "Ruslan Display", cursive;
}

p:hover {
  color: blue;
  font-weight: bold;
}
/*





*/
